<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lihang.databindinglover">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.BaseUseActivity" />

        <activity android:name=".ui.AlisActivity" />

        <activity android:name=".ui.RecyclerViewActivity" />

        <activity android:name=".ui.BaseObservableActivity" />

        <activity android:name=".ui.ObservableFieldActivity" />

        <activity android:name=".ui.ObservableCollectionActivity" />

        <activity android:name=".ui.DataBindActivity" />

        <activity android:name=".ui.IncludeActivity" />

        <activity android:name=".ui.ViewStubActivity" />

        <activity android:name=".ui.BindingAdapterActivity" />

    </application>

</manifest>